---
layout: page
published: true
title: Use of tags
lead: Now you added the javascript-file to your site you can start using it.
---

<!-- END OF HEADING-->
<div class="container">
    <div id="whats-new" class="card">
        <h5 class="card-header">What's new</h5>
        <div class="card-body">
            <h5 class="card-title"><a href="#function-toggle">Toggle-function</a></h5>
            <p>
                A function for adding and removing classes.
            </p>
            <h5 class="card-title"><a href="#tag-img-fit">img-fit</a></h5>
            <p>
                A class for optimizing images.
            </p>
            <h5 class="card-title"><a href="#tag-img-fit">img-clip</a></h5>
            <p>
                Use an image as filling for text.
            </p>
        </div>
    </div>    
</div>

<div id="tags" class="container">
    <div class="row">
        <div id="filter-list-tags" class="col col-12 col-lg-3">
            <h3>
                Filter
            </h3>
            <input type="text" id="search-list-tags" class="form-control" onkeyup="searchTagsList()" placeholder="Search for tags or functions" title="Type in a name">
            <dl id="list-tags">
                <div class="list-group">
                    <h5>Tags / main part</h5>
                    {% for tag in site.tags %}
                        {% if tag.url contains 'first-part' %}
                        <dt class="list-group-item"><a href="#tag-{{ tag.class-name }}">{{ tag.full-name }}<div style="display: none;">{{ tag.content }}</div></a></dt>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="list-group">
                    <h5>Tags / second part</h5>
                    <dt class="list-group-item"><a href="#tag-scnd-x">[main part]-x</a></dt>
                    <dt class="list-group-item"><a href="#tag-scnd-y">[main part]-y</a></dt>
                    <dt class="list-group-item"><a href="#tag-scnd-t">[main part]-t</a></dt>
                    <dt class="list-group-item"><a href="#tag-scnd-b">[main part]-b</a></dt>
                    <dt class="list-group-item"><a href="#tag-scnd-l">[main part]-l</a></dt>
                    <dt class="list-group-item"><a href="#tag-scnd-r">[main part]-r</a></dt>
                </div>
                <div class="list-group">
                    <h5>Tags / options</h5>
                    {% for tag in site.tags %}
                        {% if tag.url contains 'var-options' %}
                        <dt class="list-group-item"><a href="#tag-{{ tag.class-name }}">{{ tag.class-name }}<div style="display: none;">{{ tag.content }}</div></a></dt>
                        {% endif %}
                    {% endfor %}
                </div>
            </dl>
        </div>
        <div class="col col-12 col-lg-9">
            <div class="row">
                <div id="tags-first" class="col-md">
                    <h3>Tags / main part</h3>
                    <p>
                        Most css-classes have diffrent parts in it's name.<br>
                        The main part defines the characteristics that need to change of a html-element.
                    </p>
                    <ul class="list-group list-group-flush">
                        {% for tag in site.tags %}
                            {% if tag.url contains 'first-part' %}
                            <li id="tag-{{ tag.class-name }}" class="list-group-item" data-bug="{{ tag.bug }}" data-scnd-part="{{ tag.scnd-part }}">
                                <h5>{{ tag.full-name }}<div class="badge-tag-bug"></div><div class="badge-tag-scnd"></div></h5>
                                {{ tag.content }}
                            </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div id="tags-scnd" class="col-md">
                    <h3>Tags / Second part</h3>
                    <p>
                        When the css class can be used to define different parts of an html-element (like a top border or left margin) the following tags are used to define wich part we want to call of that element.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li id="tag-scnd-x" class="list-group-item"><h5>[main part]-x</h5>Calls the left and right part of an element.</li>
                        <li id="tag-scnd-y" class="list-group-item"><h5>[main part]-y</h5>Calls the top and bottom part of an element.</li>
                        <li id="tag-scnd-t" class="list-group-item"><h5>[main part]-t</h5>Calls the top part of an element.</li>
                        <li id="tag-scnd-b" class="list-group-item"><h5>[main part]-b</h5>Calls the bottom part of an element.</li>
                        <li id="tag-scnd-l" class="list-group-item"><h5>[main part]-l</h5>Calls the left part of an element.</li>
                        <li id="tag-scnd-r" class="list-group-item"><h5>[main part]-r</h5>Calls the right part of an element.</li>           
                    </ul>
                </div>
            </div>
            <div class="row">
                <div id="js-functions" class="col">
                    <h3>Javascript functions</h3>
                    <p>
                        There are also some javascript enabled functions you can use.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li id="function-collapse" class="list-group-item">
                            <h5>Collapse</h5>
                            Add the following code to a html-element to enable the collapse function
                            <pre>
                                <code>class="collapse-area" onclick="collapse(this)"</code>
                            </pre>
                            <p>
                                This will change the class "collapse-area" to "collapse-area-active", so now you can use selectors to control the behavior. 
                            </p>
                            <p>
                                Attention! The "collapse"-function will replace any other class from an element with "collapse-area-active".
                            </p>
                        </li>
                        <li id="function-toggle" class="list-group-item">
                            <h5>Toggle</h5>
                            Add the following code to a html-element to enable the toggle function
                            <pre>
                                <code>onclick="toggle(this)"</code>
                            </pre>
                            <p>
                                This will add or remove the "toggle-active"-class to/from an element. You can also add the class in advance.<br>
                            </p>
                            <p>
                                After that you can control the behavior of that element with the help of some regular css and/or css-selectors.
                            </p>
                            <pre>
                                <code>.an-element:not(.toggle-active) {height: 0%}
                                        .an-element.toggle-active {height: 100%}</code>
                            </pre>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col" id="css-options">
                    <h3>Options.css</h3>
                    <p>
                        You can tweak some css-settings by downloading the <a class="text-muted" href="https://lennertderyck.github.io/library/custom-elements/custom-elements/custom-elements.zip" download>custom-elements.zip</a> file and adding the unzipt folder to the root of your site. The options.css-file that you'll find in the folder works with css variables where you change the last part of the rule.
                    </p>
                    <p>
                        You don't need to link the options.css-file in in your websites head, that's already done by the script.
                    </p>

                    <h5>How it works</h5>
                    <p>
                        Editing the settings in the options.css-file is fairly easy.
                        Just go to the setting you want to edit and change the second part behind the ':'.
                        Every setting has a description and how you can change it.
                    </p>
                    <ul class="list-group list-group-flush">
                        {% for tag in site.tags %}
                            {% if tag.url contains 'var-options' %}
                                <li id="option-{{ tag.class-name }}" class="list-group-item">
                                    <h5>{{ tag.full-name }}</h5>
                                    {{ tag.content }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col" id="fonts">
                    <h3>Font</h3>
                    <p>You can use our great web fonts for free. More are added everyday.</p>
                    <p>
                        Just add the font-family to your css file and you're set. 
                        You can also use the options.css-file to define the fonts for your site, so you only have to use variables in your own css.
                    </p>
                    <h5>Supported fonts</h5>
                    <ul class="list-group list-group-flush">
                        {% for tag in site.tags %}
                            {% if tag.url contains 'fonts' %}
                                <li id="font-{{ tag.class-name }}" class="list-group-item">
                                    <h5>{{ tag.full-name }}</h5>
                                    {{ tag.content }}
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function searchTagsList() {
        var input, filter, dl, dt, a, i, txtValue;
        input = document.getElementById("search-list-tags");
        filter = input.value.toUpperCase();
        dl = document.getElementById("list-tags");
        dt = dl.getElementsByTagName("dt");
        for (i = 0; i < dt.length; i++) {
            a = dt[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                dt[i].style.display = "";
            } else {
                dt[i].style.display = "none";
            }
        }
    }
</script>

<!-- END OF CONTENT-->

