---
layout: page
published: true
title: Use of tags
lead: Now you added the javascript-file to your site you can start using it.
---

<!-- END OF HEADING-->
<div class="container">
    <div id="whats-new" class="card">
        <h5 class="card-header">What's new</h5>
        <div class="card-body">
            <h5 class="card-title"><a href="#function-toggle">Toggle-function</a></h5>
            <p>
                A function for adding and removing classes.
            </p>
            <h5 class="card-title"><a href="#tag-img-fit">img-fit</a></h5>
            <p>
                A class for optimizing images.
            </p>
            <h5 class="card-title"><a href="#tag-img-fit">img-clip</a></h5>
            <p>
                Use an image as filling for text.
            </p>
        </div>
    </div>    
</div>

<div id="tags" class="container">
    <div class="row">
        <div id="filter-list-tags" class="col col-12 col-lg-3">
            <h3>
                Filter
            </h3>
            <input type="text" id="search-list-tags" class="form-control" onkeyup="searchTagsList()" placeholder="Search for tags or functions" title="Type in a name">
            <dl id="list-tags">
                <div class="list-group">
                    <h5>Tags / main part</h5>
                    {% for tag in site.tags %}
                        <dt class="list-group-item"><a href="#tag-{{ tag.class-name }}">{{ tag.full-name }}<div style="display: none;">{{ tag.content }}</div></a></dt>
                    {% endfor %}
                </div>
            </dl>
        </div>
        <div class="col col-12 col-lg-9">
            <div class="row">
                <div id="tags-first" class="col-md">
                    <h3>Tags / main part</h3>
                    <p>
                        Most css-classes have diffrent parts in it's name.<br>
                        The main part defines the characteristics that need to change of a html-element.
                    </p>
                    <ul class="list-group list-group-flush">
                        {% for tag in site.tags %}
                            <li id="tag-{{ tag.class-name }}" class="list-group-item" data-bug="{{ tag.bug }}" data-scnd-part="{{ tag.scnd-part }}">
                                <h5>{{ tag.full-name }}<div class="badge-tag-bug"></div><div class="badge-tag-scnd"></div></h5>
                                {{ tag.content }}
                                <small class="tag-edit-date uppc lspacing-1 txt-color-main mt-2 mb-0">version {% capture lastmod_date %}{% last_modified {{ post.path }} %}{% endcapture %}{{ lastmod_date | date: "%m.%d.%Y" }}</small>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div id="tags-scnd" class="col-md">
                    <h3>Tags / Second part</h3>
                    <p>
                        When the css class can be used to define different parts of an html-element (like a top border or left margin) the following tags are used to define wich part we want to call of that element.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li id="tag-scnd-x" class="list-group-item"><h5>[main part]-x</h5>Calls the left and right part of an element.</li>
                        <li id="tag-scnd-y" class="list-group-item"><h5>[main part]-y</h5>Calls the top and bottom part of an element.</li>
                        <li id="tag-scnd-t" class="list-group-item"><h5>[main part]-t</h5>Calls the top part of an element.</li>
                        <li id="tag-scnd-b" class="list-group-item"><h5>[main part]-b</h5>Calls the bottom part of an element.</li>
                        <li id="tag-scnd-l" class="list-group-item"><h5>[main part]-l</h5>Calls the left part of an element.</li>
                        <li id="tag-scnd-r" class="list-group-item"><h5>[main part]-r</h5>Calls the right part of an element.</li>           
                    </ul>
                </div>
            </div>
            <div class="row">
                <div id="js-functions" class="col">
                    <h3>Javascript functions</h3>
                    <p>
                        There are also some javascript enabled functions you can use.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li id="function-collapse" class="list-group-item">
                            <h5>Collapse</h5>
                            Add the following code to a html-element to enable the collapse function
                            <pre>
                                <code>class="collapse-area" onclick="collapse(this)"</code>
                            </pre>
                            <p>
                                This will change the class "collapse-area" to "collapse-area-active", so now you can use selectors to control the behavior. 
                            </p>
                            <p>
                                Attention! The "collapse"-function will replace any other class from an element with "collapse-area-active".
                            </p>
                        </li>
                        <li id="function-toggle" class="list-group-item">
                            <h5>Toggle</h5>
                            Add the following code to a html-element to enable the toggle function
                            <pre>
                                <code>onclick="toggle(this)"</code>
                            </pre>
                            <p>
                                This will add or remove the "toggle-active"-class to/from an element. You can also add the class in advance.<br>
                            </p>
                            <p>
                                After that you can control the behavior of that element with the help of some regular css and/or css-selectors.
                            </p>
                            <pre>
                                <code>.an-element:not(.toggle-active) {height: 0%}
                                        .an-element.toggle-active {height: 100%}</code>
                            </pre>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col" id="css-options">
                    <h3>Options.css</h3>
                    <p>
                        You can tweak some css-settings by downloading the <a class="text-muted" href="https://lennertderyck.github.io/library/custom-elements/custom-elements/custom-elements.zip" download>custom-elements.zip</a> file and adding the unzipt folder to the root of your site. The options.css-file that you'll find in the folder works with css variables where you change the last part of the rule.
                    </p>
                    <p>
                        You don't need to link the options.css-file in in your websites head, that's already done by the script.
                    </p>

                    <h5>How it works</h5>
                    <p>
                        Editing the settings in the options.css-file is fairly easy.
                        Just go to the setting you want to edit and change the second part behind the ':'.
                        Every setting has a description and how you can change it.
                    </p>
                    <ul class="list-group list-group-flush">
                        <li id="option-collapse-trans-time" class="list-group-item">
                            <h5>Transitiontime of collapse</h5>
                            <pre>
                                <code>--collapse-trans-time: 0.3s;</code>
                            </pre>
                            <p>Can be set in seconds [Xs], inherit or initial.</p>
                        </li>
                        <li id="option-tooltip-trans-time" class="list-group-item">
                            <h5>Transitiontime of tooltips</h5>
                            <pre>
                                <code>--tooltip-trans-time: 0.2s;</code>
                            </pre>
                            <p>Can be set in seconds [Xs], inherit or initial.</p>
                        </li>
                        <li id="option-tooltip-bg-color" class="list-group-item">
                            <h5>Background-color of tooltips</h5>
                            <pre>
                                <code>--tooltip-bg-color: #3D3D3D;</code>
                            </pre>
                            <p>Can be set to a color (predefined color names, hexadecimal colors, rgb & rgba colors and hsl & hsla colors), transparent, inherit or initial.</p>
                        </li>
                        <li id="option-tooltip-color" class="list-group-item">
                            <h5>Textcolor of tooltips</h5>
                            <pre>
                                <code>--tooltip-color: white;</code>
                            </pre>
                            <p>Can be set to a color (predefined color names, hexadecimal colors, rgb & rgba colors and hsl & hsla colors), transparent, inherit or initial.</p>
                        </li>
                        <li id="option-border-radius" class="list-group-item">
                            <h5>Border radius of elements with 'border-rd'-class</h5>
                            <pre>
                                <code>--border-radius: 6px;</code>
                            </pre>
                            <p>Can be set to a length [Xs], percentages [X%], inherit or initial.</p>
                        </li>
                        <li id="option-disabled-fade" class="list-group-item">
                            <h5>Fading of disabled element with 'disabled'-class</h5>
                            <pre>
                                <code>--disabled-fade: 0.6;</code>
                            </pre>
                            <p>Can be set to a number between 1 and 0. The number describes how much of the element is still visible, not how much it's faded.<br>Example: the number 0.5 will fade the object for 50%, but 0.25 will fade it for 75%.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col" id="fonts">
                    <h3>Font</h3>
                    <p>You can use our great web fonts for free. More are added everyday.</p>
                    <p>
                        Just add the font-family to your css file and you're set. 
                        You can also use the options.css-file to define the fonts for your site, so you only have to use variables in your own css.
                    </p>
                    <h5>Supported fonts</h5>
                    <ul class="list-group list-group-flush">
                        <li id="option-collapse-trans-time" class="list-group-item">
                            <h5>Avenir</h5>
                            <pre>
                                <code>font-family: 'Avenir';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 300 [light], 400 [regular], 500 [medium], 600 [semi-bold], 700 [bold]</p>
                        </li>
                        <li id="option-tooltip-trans-time" class="list-group-item">
                            <h5>Arquitecta</h5>
                            <pre>
                                <code>font-family: 'Arquitecta';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 300 [light], 300i [light italic], 500 [medium], 500i [medium italic], 900 [black], 900i [black italic]</p>
                        </li>
                        <li id="option-tooltip-bg-color" class="list-group-item">
                            <h5>Bebas</h5>
                            <pre>
                                <code>font-family: 'Bebas';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 100 [thin], 300 [light], 400 [regular], 700 [bold]</p>
                        </li>
                        <li id="option-tooltip-color" class="list-group-item">
                            <h5>Brandon</h5>
                            <pre>
                                <code>font-family: 'Brandon';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 100 [thin], 100i [thin italic], 300 [light], 300i [light italic], 400 [regular], 400i [regular italic], 900 [black], 900i [black italic]</p>
                        </li>
                        <li id="option-border-radius" class="list-group-item">
                            <h5>Brown</h5>
                            <pre>
                                <code>font-family: 'Brown';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 100 [thin], 100i [thin italic], 300 [light], 300i [light italic], 400 [regular], 400i [regular italic], 700 [bold], 700i [bold italic]</p>
                        </li>
                        <li id="option-disabled-fade" class="list-group-item">
                            <h5>Circular</h5>
                            <pre>
                                <code>font-family: 'Circular';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 300 [light], 300i [light italic], 500 [medium], 500i [medium italic], 700 [bold], 700i [bold italic], 900 [black],  900i [black italic]</p>
                        </li>
                        <li id="option-disabled-fade" class="list-group-item">
                            <h5>Din Pro</h5>
                            <pre>
                                <code>font-family: 'Din Pro';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 300 [light], 300i [light italic], 400 [regular], 400i [regular italic], 500 [medium], 500i [medium italic], 700 [bold], 700i [bold italic], 900 [black], 900i [black italic]</p>
                        </li>
                        <li id="option-disabled-fade" class="list-group-item">
                            <h5>Flanders Sans</h5>
                            <pre>
                                <code>font-family: 'Flanders Sans';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 400 [regular], 500 [medium]</p>
                        </li>
                        <li id="option-disabled-fade" class="list-group-item">
                            <h5>Flanders Serif</h5>
                            <pre>
                                <code>font-family: 'Flanders Sans';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 300 [light], 400 [regular], 500 [medium]</p>
                        </li>
                        <li id="option-disabled-fade" class="list-group-item">
                            <h5>Geometos Rounded</h5>
                            <pre>
                                <code>font-family: 'Geometos Rounded';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 400 [regular]</p>
                        </li>
                        <li id="option-disabled-fade" class="list-group-item">
                            <h5>Wavehaus</h5>
                            <pre>
                                <code>font-family: 'Wavehaus';</code>
                            </pre>
                            <p><strong>Available font-weights:</strong> 100 [thin], 300 [light], 400 [regular], 600 [semi-bold], 700 [bold], 900 [black]</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function searchTagsList() {
        var input, filter, dl, dt, a, i, txtValue;
        input = document.getElementById("search-list-tags");
        filter = input.value.toUpperCase();
        dl = document.getElementById("list-tags");
        dt = dl.getElementsByTagName("dt");
        for (i = 0; i < dt.length; i++) {
            a = dt[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                dt[i].style.display = "";
            } else {
                dt[i].style.display = "none";
            }
        }
    }
</script>

<!-- END OF CONTENT-->

