---
layout: page
title: Why using it
lead: Making webdevelopment easy
---
<!-- END OF HEADING-->
<div class="container">
    <div class="row">
            <div class="col">
                
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            {% include start-features-start.html %}
            {% include coming-soon.html %}
        </div>
        <div class="col-12 col-md-8">
            <p>
                Custom Elements is not just another library or framework, other than Bootstrap or Spectre.
                No, this library of css-classes is meant for supporting webdevelopers, helping them writing less css.
            </p>
            <p>
                The library contains classes that only change some characteristcs of an element.
                It's very helpful when you are writing code and only have to change a one or two, or even a small group of elements, so you won't have to dive in you're css-file and search for selectors.
            </p>
            <p>
                I developted the code in the first place for myself because I noticed I wrote the same css-code in some projects over and over, so making 1 library of classes whas a whole lot 
                more efficient.
            </p>
        </div>
    </div>
</div>

<!-- END OF CONTENT-->