:root {
  --gutter: 12px;
  --debug-container-background: rgba(0, 0, 0, 1);
  --debug-row-background: rgba(0, 0, 0, 1);
  --debug-column-background: rgba(0, 255, 0, 1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

[data-ce-grid] {
  /*
  Grid system with grid
  */
}

[data-ce-grid] .debug .container {
  border: 2px solid var(--debug-container-background);
  min-height: 64px;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-bottom: var(--gutter);
}

[data-ce-grid] .debug .container:last-of-type {
  margin-bottom: 0;
}

[data-ce-grid] .debug .row {
  border: 2px dashed var(--debug-row-background);
  min-height: 64px;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-bottom: var(--gutter);
}

[data-ce-grid] .debug .row:last-of-type {
  margin-bottom: 0;
}

[data-ce-grid] .debug .col-1:after, [data-ce-grid] .debug .col-2:after, [data-ce-grid] .debug .col-3:after, [data-ce-grid] .debug .col-4:after, [data-ce-grid] .debug .col-5:after, [data-ce-grid] .debug .col-6:after, [data-ce-grid] .debug .col-7:after, [data-ce-grid] .debug .col-8:after, [data-ce-grid] .debug .col-9:after, [data-ce-grid] .debug .col-10:after, [data-ce-grid] .debug .col-11:after, [data-ce-grid] .debug .col-12:after {
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: var(--debug-column-background);
  border: 1px solid black;
}

[data-ce-grid] .container-fluid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

[data-ce-grid] .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1280px;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

[data-ce-grid] .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: calc(var(--gutter)*-1);
  margin-left: calc(var(--gutter)*-1);
}

[data-ce-grid] .col-1, [data-ce-grid] .col-2, [data-ce-grid] .col-3, [data-ce-grid] .col-4, [data-ce-grid] .col-5, [data-ce-grid] .col-6, [data-ce-grid] .col-7, [data-ce-grid] .col-8, [data-ce-grid] .col-9, [data-ce-grid] .col-10, [data-ce-grid] .col-11, [data-ce-grid] .col-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
}

[data-ce-grid] .col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

[data-ce-grid] .col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.666667%;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

[data-ce-grid] .col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

[data-ce-grid] .col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

[data-ce-grid] .col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

[data-ce-grid] .col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

[data-ce-grid] .col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

[data-ce-grid] .col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

[data-ce-grid] .col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

[data-ce-grid] .col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

[data-ce-grid] .col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.666667%;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

[data-ce-grid] .col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

[data-ce-grid] .g-offset-1 {
  margin-left: 8.333333%;
}

[data-ce-grid] .g-offset-2 {
  margin-left: 16.666667%;
}

[data-ce-grid] .g-offset-3 {
  margin-left: 25%;
}

[data-ce-grid] .g-offset-4 {
  margin-left: 33.333333%;
}

[data-ce-grid] .g-offset-5 {
  margin-left: 41.666667%;
}

[data-ce-grid] .g-offset-6 {
  margin-left: 50%;
}

[data-ce-grid] .g-offset-7 {
  margin-left: 58.333333%;
}

[data-ce-grid] .g-offset-8 {
  margin-left: 66.666667%;
}

[data-ce-grid] .g-offset-9 {
  margin-left: 75%;
}

[data-ce-grid] .g-offset-10 {
  margin-left: 83.333333%;
}

[data-ce-grid] .g-offset-11 {
  margin-left: 91.666667%;
}

[data-ce-grid] .g-offset-12 {
  margin-left: 100%;
}

[data-ce-grid] .g-gutter-half {
  padding-left: calc(var(--gutter)/2);
  padding-right: calc(var(--gutter)/2);
}

[data-ce-grid] .g-no-gutter {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 481px) {
  [data-ce-grid] .col-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  [data-ce-grid] .col-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [data-ce-grid] .col-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  [data-ce-grid] .col-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [data-ce-grid] .col-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [data-ce-grid] .col-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  [data-ce-grid] .col-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [data-ce-grid] .col-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [data-ce-grid] .col-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  [data-ce-grid] .col-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [data-ce-grid] .col-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [data-ce-grid] .col-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  [data-ce-grid] .g-offset-sm-1 {
    margin-left: 8.333333%;
  }
  [data-ce-grid] .g-offset-sm-2 {
    margin-left: 16.666667%;
  }
  [data-ce-grid] .g-offset-sm-3 {
    margin-left: 25%;
  }
  [data-ce-grid] .g-offset-sm-4 {
    margin-left: 33.333333%;
  }
  [data-ce-grid] .g-offset-sm-5 {
    margin-left: 41.666667%;
  }
  [data-ce-grid] .g-offset-sm-6 {
    margin-left: 50%;
  }
  [data-ce-grid] .g-offset-sm-7 {
    margin-left: 58.333333%;
  }
  [data-ce-grid] .g-offset-sm-8 {
    margin-left: 66.666667%;
  }
  [data-ce-grid] .g-offset-sm-9 {
    margin-left: 75%;
  }
  [data-ce-grid] .g-offset-sm-10 {
    margin-left: 83.333333%;
  }
  [data-ce-grid] .g-offset-sm-11 {
    margin-left: 91.666667%;
  }
  [data-ce-grid] .g-offset-sm-12 {
    margin-left: 100%;
  }
}

@media (min-width: 769px) {
  [data-ce-grid] .col-md-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  [data-ce-grid] .col-md-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [data-ce-grid] .col-md-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  [data-ce-grid] .col-md-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [data-ce-grid] .col-md-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [data-ce-grid] .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  [data-ce-grid] .col-md-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [data-ce-grid] .col-md-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [data-ce-grid] .col-md-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  [data-ce-grid] .col-md-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [data-ce-grid] .col-md-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [data-ce-grid] .col-md-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  [data-ce-grid] .g-offset-md-1 {
    margin-left: 8.333333%;
  }
  [data-ce-grid] .g-offset-md-2 {
    margin-left: 16.666667%;
  }
  [data-ce-grid] .g-offset-md-3 {
    margin-left: 25%;
  }
  [data-ce-grid] .g-offset-md-4 {
    margin-left: 33.333333%;
  }
  [data-ce-grid] .g-offset-md-5 {
    margin-left: 41.666667%;
  }
  [data-ce-grid] .g-offset-md-6 {
    margin-left: 50%;
  }
  [data-ce-grid] .g-offset-md-7 {
    margin-left: 58.333333%;
  }
  [data-ce-grid] .g-offset-md-8 {
    margin-left: 66.666667%;
  }
  [data-ce-grid] .g-offset-md-9 {
    margin-left: 75%;
  }
  [data-ce-grid] .g-offset-md-10 {
    margin-left: 83.333333%;
  }
  [data-ce-grid] .g-offset-md-11 {
    margin-left: 91.666667%;
  }
  [data-ce-grid] .g-offset-md-12 {
    margin-left: 100%;
  }
}

@media (min-width: 997px) {
  [data-ce-grid] .col-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  [data-ce-grid] .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [data-ce-grid] .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  [data-ce-grid] .col-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [data-ce-grid] .col-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [data-ce-grid] .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  [data-ce-grid] .col-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [data-ce-grid] .col-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [data-ce-grid] .col-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  [data-ce-grid] .col-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [data-ce-grid] .col-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [data-ce-grid] .col-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  [data-ce-grid] .g-offset-lg-1 {
    margin-left: 8.333333%;
  }
  [data-ce-grid] .g-offset-lg-2 {
    margin-left: 16.666667%;
  }
  [data-ce-grid] .g-offset-lg-3 {
    margin-left: 25%;
  }
  [data-ce-grid] .g-offset-lg-4 {
    margin-left: 33.333333%;
  }
  [data-ce-grid] .g-offset-lg-5 {
    margin-left: 41.666667%;
  }
  [data-ce-grid] .g-offset-lg-6 {
    margin-left: 50%;
  }
  [data-ce-grid] .g-offset-lg-7 {
    margin-left: 58.333333%;
  }
  [data-ce-grid] .g-offset-lg-8 {
    margin-left: 66.666667%;
  }
  [data-ce-grid] .g-offset-lg-9 {
    margin-left: 75%;
  }
  [data-ce-grid] .g-offset-lg-10 {
    margin-left: 83.333333%;
  }
  [data-ce-grid] .g-offset-lg-11 {
    margin-left: 91.666667%;
  }
  [data-ce-grid] .g-offset-lg-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1181px) {
  [data-ce-grid] .col-xl-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
            flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  [data-ce-grid] .col-xl-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
            flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  [data-ce-grid] .col-xl-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  [data-ce-grid] .col-xl-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  [data-ce-grid] .col-xl-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  [data-ce-grid] .col-xl-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  [data-ce-grid] .col-xl-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  [data-ce-grid] .col-xl-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  [data-ce-grid] .col-xl-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  [data-ce-grid] .col-xl-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
            flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  [data-ce-grid] .col-xl-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
            flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  [data-ce-grid] .col-xl-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  [data-ce-grid] .g-offset-xl-1 {
    margin-left: 8.333333%;
  }
  [data-ce-grid] .g-offset-xl-2 {
    margin-left: 16.666667%;
  }
  [data-ce-grid] .g-offset-xl-3 {
    margin-left: 25%;
  }
  [data-ce-grid] .g-offset-xl-4 {
    margin-left: 33.333333%;
  }
  [data-ce-grid] .g-offset-xl-5 {
    margin-left: 41.666667%;
  }
  [data-ce-grid] .g-offset-xl-6 {
    margin-left: 50%;
  }
  [data-ce-grid] .g-offset-xl-7 {
    margin-left: 58.333333%;
  }
  [data-ce-grid] .g-offset-xl-8 {
    margin-left: 66.666667%;
  }
  [data-ce-grid] .g-offset-xl-9 {
    margin-left: 75%;
  }
  [data-ce-grid] .g-offset-xl-10 {
    margin-left: 83.333333%;
  }
  [data-ce-grid] .g-offset-xl-11 {
    margin-left: 91.666667%;
  }
  [data-ce-grid] .g-offset-xl-12 {
    margin-left: 100%;
  }
}

[data-ce-grid] .g-gr-container-fluid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

[data-ce-grid] .g-gr-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1280px;
  padding-right: var(--gutter);
  padding-left: var(--gutter);
  margin-right: auto;
  margin-left: auto;
}

[data-ce-grid] .g-gr-grid {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: dense;
  grid-gap: var(--gutter);
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

[data-ce-grid] .g-gr-cspan-1, [data-ce-grid] .g-gr-cspan-2, [data-ce-grid] .g-gr-cspan-3, [data-ce-grid] .g-gr-cspan-4, [data-ce-grid] .g-gr-cspan-5, [data-ce-grid] .g-gr-cspan-6, [data-ce-grid] .g-gr-cspan-7, [data-ce-grid] .g-gr-cspan-8, [data-ce-grid] .g-gr-cspan-9, [data-ce-grid] .g-gr-cspan-10, [data-ce-grid] .g-gr-cspan-11, [data-ce-grid] .g-gr-cspan-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  grid-column: span 12;
  grid-row: span 1;
}

[data-ce-grid] .g-gr-cspan-1 {
  grid-column: span 1;
}

[data-ce-grid] .g-gr-cspan-2 {
  grid-column: span 2;
}

[data-ce-grid] .g-gr-cspan-3 {
  grid-column: span 3;
}

[data-ce-grid] .g-gr-cspan-4 {
  grid-column: span 4;
}

[data-ce-grid] .g-gr-cspan-5 {
  grid-column: span 5;
}

[data-ce-grid] .g-gr-cspan-6 {
  grid-column: span 6;
}

[data-ce-grid] .g-gr-cspan-7 {
  grid-column: span 7;
}

[data-ce-grid] .g-gr-cspan-8 {
  grid-column: span 8;
}

[data-ce-grid] .g-gr-cspan-9 {
  grid-column: span 9;
}

[data-ce-grid] .g-gr-cspan-10 {
  grid-column: span 10;
}

[data-ce-grid] .g-gr-cspan-11 {
  grid-column: span 11;
}

[data-ce-grid] .g-gr-cspan-12 {
  grid-column: span 12;
}

[data-ce-grid] .g-gr-rspan-1 {
  grid-row: span 1;
}

[data-ce-grid] .g-gr-rspan-2 {
  grid-row: span 2;
}

[data-ce-grid] .g-gr-rspan-3 {
  grid-row: span 3;
}

[data-ce-grid] .g-gr-rspan-4 {
  grid-row: span 4;
}

[data-ce-grid] .g-gr-rspan-5 {
  grid-row: span 5;
}

[data-ce-grid] .g-gr-rspan-6 {
  grid-row: span 6;
}

[data-ce-grid] .g-gr-rspan-7 {
  grid-row: span 7;
}

[data-ce-grid] .g-gr-rspan-8 {
  grid-row: span 8;
}

[data-ce-grid] .g-gr-rspan-9 {
  grid-row: span 9;
}

[data-ce-grid] .g-gr-rspan-10 {
  grid-row: span 10;
}

[data-ce-grid] .g-gr-rspan-11 {
  grid-row: span 11;
}

[data-ce-grid] .g-gr-rspan-12 {
  grid-row: span 12;
}

@media (min-width: 481px) {
  [data-ce-grid] .g-gr-cspan-sm-1 {
    grid-column: span 1;
  }
  [data-ce-grid] .g-gr-cspan-sm-2 {
    grid-column: span 2;
  }
  [data-ce-grid] .g-gr-cspan-sm-3 {
    grid-column: span 3;
  }
  [data-ce-grid] .g-gr-cspan-sm-4 {
    grid-column: span 4;
  }
  [data-ce-grid] .g-gr-cspan-sm-5 {
    grid-column: span 5;
  }
  [data-ce-grid] .g-gr-cspan-sm-6 {
    grid-column: span 6;
  }
  [data-ce-grid] .g-gr-cspan-sm-7 {
    grid-column: span 7;
  }
  [data-ce-grid] .g-gr-cspan-sm-8 {
    grid-column: span 8;
  }
  [data-ce-grid] .g-gr-cspan-sm-9 {
    grid-column: span 9;
  }
  [data-ce-grid] .g-gr-cspan-sm-10 {
    grid-column: span 10;
  }
  [data-ce-grid] .g-gr-cspan-sm-11 {
    grid-column: span 11;
  }
  [data-ce-grid] .g-gr-rspan-sm-1 {
    grid-row: span 1;
  }
  [data-ce-grid] .g-gr-rspan-sm-2 {
    grid-row: span 2;
  }
  [data-ce-grid] .g-gr-rspan-sm-3 {
    grid-row: span 3;
  }
  [data-ce-grid] .g-gr-rspan-sm-4 {
    grid-row: span 4;
  }
  [data-ce-grid] .g-gr-rspan-sm-5 {
    grid-row: span 5;
  }
  [data-ce-grid] .g-gr-rspan-sm-6 {
    grid-row: span 6;
  }
  [data-ce-grid] .g-gr-rspan-sm-7 {
    grid-row: span 7;
  }
  [data-ce-grid] .g-gr-rspan-sm-8 {
    grid-row: span 8;
  }
  [data-ce-grid] .g-gr-rspan-sm-9 {
    grid-row: span 9;
  }
  [data-ce-grid] .g-gr-rspan-sm-10 {
    grid-row: span 10;
  }
  [data-ce-grid] .g-gr-rspan-sm-11 {
    grid-row: span 11;
  }
  [data-ce-grid] .g-gr-rspan-sm-12 {
    grid-row: span 12;
  }
}

@media (min-width: 769px) {
  [data-ce-grid] .g-gr-cspan-md-1 {
    grid-column: span 1;
  }
  [data-ce-grid] .g-gr-cspan-md-2 {
    grid-column: span 2;
  }
  [data-ce-grid] .g-gr-cspan-md-3 {
    grid-column: span 3;
  }
  [data-ce-grid] .g-gr-cspan-md-4 {
    grid-column: span 4;
  }
  [data-ce-grid] .g-gr-cspan-md-5 {
    grid-column: span 5;
  }
  [data-ce-grid] .g-gr-cspan-md-6 {
    grid-column: span 6;
  }
  [data-ce-grid] .g-gr-cspan-md-7 {
    grid-column: span 7;
  }
  [data-ce-grid] .g-gr-cspan-md-8 {
    grid-column: span 8;
  }
  [data-ce-grid] .g-gr-cspan-md-9 {
    grid-column: span 9;
  }
  [data-ce-grid] .g-gr-cspan-md-10 {
    grid-column: span 10;
  }
  [data-ce-grid] .g-gr-cspan-md-11 {
    grid-column: span 11;
  }
  [data-ce-grid] .g-gr-rspan-md-1 {
    grid-row: span 1;
  }
  [data-ce-grid] .g-gr-rspan-md-2 {
    grid-row: span 2;
  }
  [data-ce-grid] .g-gr-rspan-md-3 {
    grid-row: span 3;
  }
  [data-ce-grid] .g-gr-rspan-md-4 {
    grid-row: span 4;
  }
  [data-ce-grid] .g-gr-rspan-md-5 {
    grid-row: span 5;
  }
  [data-ce-grid] .g-gr-rspan-md-6 {
    grid-row: span 6;
  }
  [data-ce-grid] .g-gr-rspan-md-7 {
    grid-row: span 7;
  }
  [data-ce-grid] .g-gr-rspan-md-8 {
    grid-row: span 8;
  }
  [data-ce-grid] .g-gr-rspan-md-9 {
    grid-row: span 9;
  }
  [data-ce-grid] .g-gr-rspan-md-10 {
    grid-row: span 10;
  }
  [data-ce-grid] .g-gr-rspan-md-11 {
    grid-row: span 11;
  }
  [data-ce-grid] .g-gr-rspan-md-12 {
    grid-row: span 12;
  }
}

@media (min-width: 997px) {
  [data-ce-grid] .g-gr-cspan-lg-1 {
    grid-column: span 1;
  }
  [data-ce-grid] .g-gr-cspan-lg-2 {
    grid-column: span 2;
  }
  [data-ce-grid] .g-gr-cspan-lg-3 {
    grid-column: span 3;
  }
  [data-ce-grid] .g-gr-cspan-lg-4 {
    grid-column: span 4;
  }
  [data-ce-grid] .g-gr-cspan-lg-5 {
    grid-column: span 5;
  }
  [data-ce-grid] .g-gr-cspan-lg-6 {
    grid-column: span 6;
  }
  [data-ce-grid] .g-gr-cspan-lg-7 {
    grid-column: span 7;
  }
  [data-ce-grid] .g-gr-cspan-lg-8 {
    grid-column: span 8;
  }
  [data-ce-grid] .g-gr-cspan-lg-9 {
    grid-column: span 9;
  }
  [data-ce-grid] .g-gr-cspan-lg-10 {
    grid-column: span 10;
  }
  [data-ce-grid] .g-gr-cspan-lg-11 {
    grid-column: span 11;
  }
  [data-ce-grid] .g-gr-rspan-lg-1 {
    grid-row: span 1;
  }
  [data-ce-grid] .g-gr-rspan-lg-2 {
    grid-row: span 2;
  }
  [data-ce-grid] .g-gr-rspan-lg-3 {
    grid-row: span 3;
  }
  [data-ce-grid] .g-gr-rspan-lg-4 {
    grid-row: span 4;
  }
  [data-ce-grid] .g-gr-rspan-lg-5 {
    grid-row: span 5;
  }
  [data-ce-grid] .g-gr-rspan-lg-6 {
    grid-row: span 6;
  }
  [data-ce-grid] .g-gr-rspan-lg-7 {
    grid-row: span 7;
  }
  [data-ce-grid] .g-gr-rspan-lg-8 {
    grid-row: span 8;
  }
  [data-ce-grid] .g-gr-rspan-lg-9 {
    grid-row: span 9;
  }
  [data-ce-grid] .g-gr-rspan-lg-10 {
    grid-row: span 10;
  }
  [data-ce-grid] .g-gr-rspan-lg-11 {
    grid-row: span 11;
  }
  [data-ce-grid] .g-gr-rspan-lg-12 {
    grid-row: span 12;
  }
}

@media (min-width: 1181px) {
  [data-ce-grid] .g-gr-cspan-xl-1 {
    grid-column: span 1;
  }
  [data-ce-grid] .g-gr-cspan-xl-2 {
    grid-column: span 2;
  }
  [data-ce-grid] .g-gr-cspan-xl-3 {
    grid-column: span 3;
  }
  [data-ce-grid] .g-gr-cspan-xl-4 {
    grid-column: span 4;
  }
  [data-ce-grid] .g-gr-cspan-xl-5 {
    grid-column: span 5;
  }
  [data-ce-grid] .g-gr-cspan-xl-6 {
    grid-column: span 6;
  }
  [data-ce-grid] .g-gr-cspan-xl-7 {
    grid-column: span 7;
  }
  [data-ce-grid] .g-gr-cspan-xl-8 {
    grid-column: span 8;
  }
  [data-ce-grid] .g-gr-cspan-xl-9 {
    grid-column: span 9;
  }
  [data-ce-grid] .g-gr-cspan-xl-10 {
    grid-column: span 10;
  }
  [data-ce-grid] .g-gr-cspan-xl-11 {
    grid-column: span 11;
  }
  [data-ce-grid] .g-gr-rspan-xl-1 {
    grid-row: span 1;
  }
  [data-ce-grid] .g-gr-rspan-xl-2 {
    grid-row: span 2;
  }
  [data-ce-grid] .g-gr-rspan-xl-3 {
    grid-row: span 3;
  }
  [data-ce-grid] .g-gr-rspan-xl-4 {
    grid-row: span 4;
  }
  [data-ce-grid] .g-gr-rspan-xl-5 {
    grid-row: span 5;
  }
  [data-ce-grid] .g-gr-rspan-xl-6 {
    grid-row: span 6;
  }
  [data-ce-grid] .g-gr-rspan-xl-7 {
    grid-row: span 7;
  }
  [data-ce-grid] .g-gr-rspan-xl-8 {
    grid-row: span 8;
  }
  [data-ce-grid] .g-gr-rspan-xl-9 {
    grid-row: span 9;
  }
  [data-ce-grid] .g-gr-rspan-xl-10 {
    grid-row: span 10;
  }
  [data-ce-grid] .g-gr-rspan-xl-11 {
    grid-row: span 11;
  }
  [data-ce-grid] .g-gr-rspan-xl-12 {
    grid-row: span 12;
  }
}
/*# sourceMappingURL=flex-grid.css.map */