/* @font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 100;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 200;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 300;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 400;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 500;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 600;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 700;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 800;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 900;
}

@font-face {
    font-family: 'FONTNAME';
    src: url(./fonts/otf);
    font-weight: 900;
    font-style: italic;
} */

/* AKKURAT */
    @font-face {
        font-family: 'Akkurat';
        src: url(./fonts/akkurat-std-300);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Akkurat';
        src: url(./fonts/akkurat-std-300italic.otf);
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Akkurat';
        src: url(./fonts/akkurat-std-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Akkurat';
        src: url(./fonts/akkurat-std-400italic.otf);
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Akkurat';
        src: url(./fonts/akkurat-std-700.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Akkurat';
        src: url(./fonts/akkurat-std-700italic.otf);
        font-weight: 700;
        font-style: italic;
    }

/* AVENIR */
    @font-face {
        font-family: 'Avenir';
        src: url(./fonts/avenir-300.ttf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Avenir';
        src: url(./fonts/avenir-400.ttf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Avenir';
        src: url(./fonts/avenir-500.ttf);
        font-weight: 500;
    }

    @font-face {
        font-family: 'Avenir';
        src: url(./fonts/avenir-700.ttf);
        font-weight: 600;
    }

    @font-face {
        font-family: 'Avenir';
        src: url(./fonts/avenir-900.ttf);
        font-weight: 700;
    }

/* ARQUITECTA */
    @font-face {
        font-family: 'Arquitecta';
        src: url(./fonts/avenir-300.ttf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Arquitecta';
        src: url(./fonts/avenir-300italic.ttf);
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Arquitecta';
        src: url(./fonts/avenir-500.ttf);
        font-weight: 500;
    }

    @font-face {
        font-family: 'Arquitecta';
        src: url(./fonts/avenir-500italic.ttf);
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: 'Arquitecta';
        src: url(./fonts/avenir-900.ttf);
        font-weight: 900;
    }

    @font-face {
        font-family: 'Arquitecta';
        src: url(./fonts/avenir-900italic.ttf);
        font-weight: 900;
        font-style: italic;
    }

/* BEBAS */
    @font-face {
        font-family: 'FONTNAME';
        src: url(./fonts/bebas-neue-100.otf);
        font-weight: 100;
    }

    @font-face {
        font-family: 'FONTNAME';
        src: url(./fonts/bebas-neue-300.otf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'FONTNAME';
        src: url(./fonts/bebas-neue-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'FONTNAME';
        src: url(./fonts/bebas-neue-700.otf);
        font-weight: 700;
    }

/* BRANDON */
    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-100.otf);
        font-weight: 100;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-100italic.otf);
        font-weight: 100;
        font-style: italic;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-300italic.otf);
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-300.otf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-400italic.otf);
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-500.otf);
        font-weight: 500;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-500italic.otf);
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-700.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-700italic.otf);
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-900.otf);
        font-weight: 900;
    }

    @font-face {
        font-family: 'Brandon';
        src: url(./fonts/brandon-900italic.otf);
        font-weight: 900;
        font-style: italic;
    }

/* BROWN */
    @font-face {
        font-family: 'Brown Itali';
        src: local('Brown Italic'), local('Brown-Italic'),
            url('./fonts/Brown-Itali.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Brown';
        src: local('Brown-LightItalic'),
            url('./fonts/Brown-LightItalic.woff2') format('woff2');
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Brown';
        src: local('Brown-RegularItalic'),
            url('./fonts/Brown-RegularItalic.woff2') format('woff2');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Brown';
        src: local('Brown-Regular'),
            url('./fonts/Brown-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Brown';
        src: local('Brown-Light'),
            url('./fonts/Brown-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Brown';
        src: local('Brown-BoldItalic'),
            url('./fonts/Brown-BoldItalic.woff2') format('woff2');
        font-weight: bold;
        font-style: italic;
    }

    @font-face {
        font-family: 'Brown';
        src: local('Brown-Bold'),
            url('./fonts/Brown-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Brown';
        src: local('Brown-ThinItalic'),
            url('./fonts/Brown-ThinItalic.woff2') format('woff2');
        font-weight: 100;
        font-style: italic;
    }

    @font-face {
        font-family: 'Brown';
        src: local('Brown-Thin'),
            url('./fonts/Brown-Thin.woff2') format('woff2');
        font-weight: 100;
        font-style: normal;
    }



/* CIRCULAR */
    @font-face {
        font-family: 'Circular';
        src: url(./fonts/circular-std-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Circular';
        src: url(./fonts/circular-std-400italic.otf);
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Circular';
        src: url(./fonts/circular-std-500.otf);
        font-weight: 500;
    }

    @font-face {
        font-family: 'Circular';
        src: url(./fonts/circular-std-500italic.otf);
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: 'Circular';
        src: url(./fonts/circular-std-700.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Circular';
        src: url(./fonts/circular-std-700italic.otf);
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: 'Circular';
        src: url(./fonts/circular-std-900.otf);
        font-weight: 900;
    }

    @font-face {
        font-family: 'Circular';
        src: url(./fonts/circular-std-900italic.otf);
        font-weight: 900;
        font-style: italic;
    }

/* DIN PRO */
    @font-face {
        font-family: 'Din Pro';
        src: url(./fonts/dinpro-300.otf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Din Pro';
        src: url(./fonts/dinpro-300italic.otf);
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Din Pro';
        src: url(./fonts/dinpro-400-italic.otf);
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Din Pro';
        src: url(./fonts/dinpro-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Din Pro';
        src: url(./fonts/dinpro-500.otf);
        font-weight: 500;
    }

    @font-face {
        font-family: 'Din Pro';
        src: url(./fonts/dinpro-500italic.otf);
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: 'Din Pro';
        src: url(./fonts/dinpro-700.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Din Pro';
        src: url(./fonts/dinpro-700italic.otf);
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: 'Din Pro';
        src: url(./fonts/dinpro-900.otf);
        font-weight: 900;
    }

    @font-face {
        font-family: 'Din Pro';
        src: url(./fonts/dinpro-900italic.otf);
        font-weight: 900;
        font-style: italic;
    }

    @font-face {
        font-family: 'Din Pro Condensed';
        src: url(./fonts/dinpro-cond-300.otf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Din Pro Condensed';
        src: url(./fonts/dinpro-cond-300ita.otf);
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Din Pro Condensed';
        src: url(./fonts/dinpro-cond-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Din Pro Condensed';
        src: url(./fonts/dinpro-cond-400ita.otf);
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Din Pro Condensed';
        src: url(./fonts/dinpro-cond-500.otf);
        font-weight: 500;
    }

    @font-face {
        font-family: 'Din Pro Condensed';
        src: url(./fonts/dinpro-cond-500ita.otf);
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: 'Din Pro Condensed';
        src: url(./fonts/dinpro-cond-700.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Din Pro Condensed';
        src: url(./fonts/dinpro-cond-700ita.otf);
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: 'Din Pro Condensed';
        src: url(./fonts/dinpro-cond-900.otf);
        font-weight: 900;
    }

    @font-face {
        font-family: 'Din Pro Condensed';
        src: url(./fonts/dinpro-cond-900ita.otf);
        font-weight: 900;
        font-style: italic;
    }

/* FLANDERS SANS */
    @font-face {
        font-family: 'Flanders Sans';
        src: url(./fonts/flanders-sans-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Flanders Sans';
        src: url(./fonts/flanders-sans-500.otf);
        font-weight: 500;
    }

    @font-face {
        font-family: 'Flanders Serif';
        src: url(./fonts/flanders-serif-300.otf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Flanders Serif';
        src: url(./fonts/flanders-serif-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Flanders Serif';
        src: url(./fonts/flanders-serif-500.otf);
        font-weight: 500;
    }

/* GEOMETOS ROUNDED */
    @font-face {
        font-family: 'Geometos Rounded';
        src: url(./fonts/geometos-rounded.ttf);
        font-weight: 400;
    }

/* WAVEHAUS */
    @font-face {
        font-family: 'Wavehaus';
        src: url(./fonts/wavehaus-100.otf);
        font-weight: 100;
    }

    @font-face {
        font-family: 'Wavehaus';
        src: url(./fonts/wavehaus-300.otf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Wavehaus';
        src: url(./fonts/wavehaus-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Wavehaus';
        src: url(./fonts/wavehaus-600.otf);
        font-weight: 600;
    }

    @font-face {
        font-family: 'Wavehaus';
        src: url(./fonts/wavehaus-700.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Wavehaus';
        src: url(./fonts/wavehaus-900.otf);
        font-weight: 900;
    }

/* EINA */
    @font-face {
        font-family: 'Eina 04';
        src: url(./fonts/eina-04-700italic.otf);
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 01';
        src: url(./fonts/eina-01-300.otf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Eina 01';
        src: url(./fonts/eina-01-300italic.otf);
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 01';
        src: url(./fonts/eina-01-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Eina 01';
        src: url(./fonts/eina-01-400italic.otf);
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 01';
        src: url(./fonts/eina-01-600.otf);
        font-weight: 600;
    }

    @font-face {
        font-family: 'Eina 01';
        src: url(./fonts/eina-01-600italic.otf);
        font-weight: 600;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 01';
        src: url(./fonts/eina-01-700.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Eina 01';
        src: url(./fonts/eina-01-700italic.otf);
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 02';
        src: url(./fonts/eina-02-300.otf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Eina 02';
        src: url(./fonts/eina-02-300italic.otf);
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 02';
        src: url(./fonts/eina-02-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Eina 02';
        src: url(./fonts/eina-02-400italic.otf);
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 02';
        src: url(./fonts/eina-02-600.otf);
        font-weight: 600;
    }

    @font-face {
        font-family: 'Eina 02';
        src: url(./fonts/eina-02-600italic.otf);
        font-weight: 600;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 02';
        src: url(./fonts/eina-02-700.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Eina 02';
        src: url(./fonts/eina-02-700italic.otf);
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 03';
        src: url(./fonts/eina-03-300.otf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Eina 03';
        src: url(./fonts/eina-03-300italic.otf);
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 03';
        src: url(./fonts/eina-03-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Eina 03';
        src: url(./fonts/eina-03-400italic.otf);
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 03';
        src: url(./fonts/eina-03-600.otf);
        font-weight: 600;
    }

    @font-face {
        font-family: 'Eina 03';
        src: url(./fonts/eina-03-600italic.otf);
        font-weight: 600;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 03';
        src: url(./fonts/eina-03-700.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Eina 03';
        src: url(./fonts/eina-03-700italic.otf);
        font-weight: 700;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 04';
        src: url(./fonts/eina-04-300.otf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Eina 04';
        src: url(./fonts/eina-04-300italic.otf);
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 04';
        src: url(./fonts/eina-04-400.otf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Eina 04';
        src: url(./fonts/eina-04-400italic.otf);
        font-weight: 400;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 04';
        src: url(./fonts/eina-04-600.otf);
        font-weight: 600;
    }

    @font-face {
        font-family: 'Eina 04';
        src: url(./fonts/eina-04-600italic.otf);
        font-weight: 600;
        font-style: italic;
    }

    @font-face {
        font-family: 'Eina 04';
        src: url(./fonts/eina-04-700.otf);
        font-weight: 700;
    }

/* OVERPASS MONO */
    @font-face {
        font-family: 'Overpass Mono';
        src: url(./fonts/overpass-mono-300.ttf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Overpass Mono';
        src: url(./fonts/overpass-mono-400.ttf);
        font-weight: 400;
    }

    @font-face {
        font-family: 'Overpass Mono';
        src: url(./fonts/overpass-mono-600.ttf);
        font-weight: 300;
    }

    @font-face {
        font-family: 'Overpass Mono';
        src: url(./fonts/overpass-mono-700.ttf);
        font-weight: 300;
    }

/* SOLWAY */
    @font-face {
        font-family: 'Solway';
        src: local('Solway Light'), local('Solway-Light'),
            url('./fonts/Solway-Light.woff2') format('woff2');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Solway';
        src: local('Solway Medium'), local('Solway-Medium'),
            url('./fonts/Solway-Medium.woff2') format('woff2');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Solway';
        src: local('Solway Bold'), local('Solway-Bold'),
            url('./fonts/Solway-Bold.woff2') format('woff2');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Solway';
        src: local('Solway Regular'), local('Solway-Regular'),
            url('./fonts/Solway-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Solway';
        src: local('Solway ExtraBold'), local('Solway-ExtraBold'),
            url('./fonts/Solway-ExtraBold.woff2') format('woff2');
        font-weight: 800;
        font-style: normal;
    }