---
layout: default
---
<div class="jumbotron jumbotron-subpage">
    <div class="container">
        <h1 class="display-4">Tags / main part</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>{{ page.full-name }}</h3>
        </div>
        <div class="col-12 col-md-4">
            <p>
                <strong class="subtitle">Second-part support</strong> {{ page.scnd-part }}<br>
                <strong class="subtitle">Containing bugs</strong> {{ page.bug }}<br>
            </p>
            <small class="last-edited">
                <span>last edited</span>
                
            </small>
                   
            <br>
            <!-- <dl id="list-tags">
                <div class="list-group">
                    <h5>More tags</h5>
                    {% for tag in site.lib-tags-first %}
                        <dt class="list-group-item"><a href="#tag-{{ tag.class-name }}">{{ tag.full-name }}<div style="display: none;">{{ tag.content }}</div></a></dt>
                    {% endfor %}
                </div>
            </dl>-->
        </div>
        <div class="col-12 col-md-8">
            <p>{{ page.about }}</p>
            <div class="highlighter-rouge">
                <div class="highlight">
                    <pre class="highlight">
                        <code>class="{{ page.class-name }}"</code>
                    </pre>
                </div>
            </div>

            <div id="snippets-scnd-part" data-scnd-part="{{ page.scnd-part }}">
                <div class="highlighter-rouge">
                    <div class="highlight">
                        <pre class="highlight">
                            <code>class="{{ page.class-name }}-t"</code>
                        </pre>
                    </div>
                </div>
                <div class="highlighter-rouge">
                    <div class="highlight">
                        <pre class="highlight">
                            <code>class="{{ page.class-name }}-b"</code>
                        </pre>
                    </div>
                </div>
                <div class="highlighter-rouge">
                    <div class="highlight">
                        <pre class="highlight">
                            <code>class="{{ page.class-name }}-l"</code>
                        </pre>
                    </div>
                </div>
                <div class="highlighter-rouge">
                    <div class="highlight">
                        <pre class="highlight">
                            <code>class="{{ page.class-name }}-r"</code>
                        </pre>
                    </div>
                </div>
                <div class="highlighter-rouge">
                    <div class="highlight">
                        <pre class="highlight">
                            <code>class="{{ page.class-name }}-y"</code>
                        </pre>
                    </div>
                </div>
                <div class="highlighter-rouge">
                    <div class="highlight">
                        <pre class="highlight">
                            <code>class="{{ page.class-name }}-x"</code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="PageNavigation">
                {% if page.previous.url %}
                    <a class="prev" href="{{page.previous.url}}">
                        <h3 class="mb-0">{{ page.previous.title }}</h3>
                        <p class="mb-0">{{ page.previous.about }}</p>
                    </a>
                {% endif %}
                {% if page.next.url %}
                    <a class="next" href="{{page.next.url}}">
                        <h3 class="mb-0">{{ page.next.title }}</h3>
                        <p class="mb-0">{{ page.next.about }}</p>
                    </a>
                {% endif %}
            </div>
            <style>
                .PageNavigation {
                    font-size: 14px;
                    display: flex;
                    justify-content: space-between;
                    width: auto;
                    overflow: hidden;
                    background-color: #007bff13;
                    padding: 15px;
                    border-radius: .25rem;
                }

                .PageNavigation a {
                    display: block;
                }

                .PageNavigation p {
                    max-height: 20px;
                    max-width: 310px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-bottom: 0px;
                }

                .PageNavigation .next {
                    text-align: right;
                }
            </style>
        </div>
    </div>
</div>